*, *::before, *::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	color: white;
}

body {
	height: 100vh;
}

body,
.sidebar,
.project-list,
.button,
form.new-project,
form.edit-project,
form.new-task {
	display: flex;
	flex-direction: column;
}

.header {
	display: flex;
	align-items: center;
}

body div.header {
	background-color: midnightblue;
	padding-left: 10px;
	border-bottom: 1px solid aliceblue;
	flex-grow: 1;
}

.header h1 {
	height: 2rem;
	line-height: 2rem;
}

.container {
	display: flex;
	flex-grow: 15;
}

.sidebar {
	background-color: midnightblue;
	padding: 10px;
	border-right: 1px solid aliceblue;
	flex-grow: 1;
	gap: 5px;
}

.sidebar .header {
	justify-content: space-between;
	flex-grow: 0;
	padding-bottom: 10px;
}

.sidebar .header,
.task-area .header {
	height: 3rem;
}

.sidebar #new-project {
	padding-left: 10px;
	padding-right: 10px;
	justify-content: center;
}

.project-list{
	gap: 10px;
}

.project-list ul {
	list-style-position: inside;
	padding-left: 5px;
	padding-bottom: 10px;
	border-bottom: 1px solid aliceblue;
}

.project-list ul li {
    display: flex;
    justify-content: space-between;
    align-items: center;
	height: 2.25rem;
	padding: 5px;
}

.project-list ul li:hover {
	background-color: darkslateblue;
	border-radius: 5px;
}

.project-list ul li.active {
	background-color: lightsteelblue;
	border-radius: 5px;
}

.project-list ul li.active *,
form input,
form select,
form select option,
form textarea {
	color: midnightblue;
}

.task-area {
	background-color: lightsteelblue;
	flex-grow: 5;
	padding: 10px;
}

.task-area .header {
	background-color: lightsteelblue;
	padding-bottom: 10px;
	justify-content: space-between;
}

.task-area .header .project-title {
	color: midnightblue;
	min-width: 300px;
}

.task-area #new-task {
	padding-left: 10px;
	padding-right: 10px;
	width: 100px;
}

.button {
	background-color: darkslateblue;
	border: solid 1px aliceblue;
	border-radius: 5px;
	height: 2rem;
	line-height: 2rem;
	text-align: center;
	justify-content: center;
	align-items: center;
}

dialog.new-project,
dialog.edit-project,
dialog.new-task {
	align-self: center;
	justify-self: center;
	background-color: midnightblue;
	border: 1.5px solid aliceblue;
	border-radius: 10px;
}

dialog::backdrop {
	background-color:black;
	opacity: 0.75;
}

form {
	padding: 20px;
	min-height: 10rem;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

form input,
form select,
form .buttons {
	width: 100%;
}

form input,
form select {
	height: 2.25rem;
    padding: 3px;
}

form .form-content {
	display: flex;
	flex-direction: column;
	gap: 10px;
	width: 100%;
}

form .form-content div {
	display: flex;
	flex-direction: column;
	gap: 2px;
}

form .buttons {
	display: flex;
	justify-content: center;
	gap: 20px;
}

.buttons .button {
	width: 120px;
}

textarea#task-description {
	min-height: 5rem;
	padding: 3px;
}